body
{
    background-color: rgb(40, 40, 40);
}
.div-titulos
{
    display: flex;
}
.titulo
{
    color: white;
    text-align: center;
    font-family: roboto;
    font-style: italic;
}
.panel
{
    width: 500px;
    height: 650px;
    margin:  auto;
    display: flex;
    flex-wrap: wrap;
}
.contenedor-de-personajes
{
    display: flex;
    flex-wrap: wrap;
}
.div-personaje
{
    width: 25%;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 10%;
    text-align: center;
}
.personaje-id
{
    color: white;
    font-family: roboto;
    display: block;
}
.personaje-nombre
{
    color: white;
    font-family: roboto;
    font-size: 12px;
}
.personaje-imagen
{
    width: 100px;
    height: 80px;
}

#boton-cargar-mas
{
    
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 300px;
    z-index: 999;
    border: solid black 2px;
    border-radius: 10%;
    padding: 10px 20px;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}
#boton-cargar-mas:hover {
    background-color: rgb(212, 212, 212);
  }